In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("salaries.csv")

In [24]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [25]:
features = df.drop("salary_more_then_100k", axis=1)
labels = df["salary_more_then_100k"]

In [26]:
display(features.head())
labels.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [29]:
features['company'] = le_company.fit_transform(features['company'])
features['job'] = le_company.fit_transform(features['job'])
features['degree'] = le_company.fit_transform(features['degree'])

In [30]:
features.head()

   company  job  degree
0        2    2       0
1        2    2       1
2        2    0       0
3        2    0       1
4        2    1       0

In [32]:
from sklearn import tree

In [35]:
model = tree.DecisionTreeClassifier()
model.fit(features,labels)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [38]:
model.score(features,labels)

1.0

In [40]:
model.predict([[2,0,1]])

array([1], dtype=int64)